services:
  app:
    build: .
    container_name: photo-studio-server
    command: python main.py
    ports:
      - "8080:8080"
    restart: always
    depends_on:
      - db
    volumes:
      - ./:/app
  db:
    image: postgres:15
    container_name: photo-studio-db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - photo_studio_db_data:/var/lib/postgresql/data

volumes:
  photo_studio_db_data:
